    <table style="border-color: red; text-align: center;">
       
        <thead>
            <tr>

                <th>
                    CARRITO DE COMPRAS

                </th>


            </tr>

            <tr>
                <th>Producto</th>
                <th>cantidad</th>
                <th>Suma</th>

    
            </tr>


        </thead>  
    
        <tbody>

            {% if request.session.carro.items %}
    
                {%  for key, value in request.session.carro.items %}
                    <tr>

                        <td >{{value.nombre}}</td>
                        <td >{{value.cantidad}}</td>
                        <td>


                            <a href="{%url 'carro:agregar' value.producto_id %}">+</a>
                            <a href="{%url 'carro:restar' value.producto_id %}">-</a><br>
                            {{value.precio}} USD

                        </td>

                    </tr>

                {% endfor %}
        
            {% else %}

                <tr>
                    <td>
                        <div style="color: red;">sin productos</div>
                    </td>

                </tr>
            {% endif %}
        </tbody>

        <tfoot>

            <tr>
                <td>

                    TOTAL:{{importe_total_carro}}USD
                </td>

            </tr>
            
         </tfoot>


    </table>

