{% extends "ProyectoWebApp/base.html" %}

{% load static %}
{% block content %}

{% for post in posts %}

<body style="background-color:  #d9e2ec;">
    
</body>

<h2 style="color: rgb(238, 10, 10); font-size: 50px; font-weight: bold; text-align: center;" >{{post.titulo}}</h2>
<p style="font-weight: 800; margin-left: 520px;">{{post.contenido}}</p>
<img src="{{post.imagen.url}}" alt="" style="width:40%; margin-left: 500px; border-radius: 30px;">
<div style="font-size: 30px; margin-left: 1000px; margin-top: 1px; font-weight: bold ;">

    Autor:{{post.autor}}
</div>

{% endfor %}
<section>

    <div style="width: 75%; background-color: rgb(3, 3, 3) ; margin: auto; text-align: center;color: aliceblue;">
        Categorias:

        {% for post in posts %}

            {% for categoria in post.categorias.all %}
                {{categoria.nombre}}&nbsp;&nbsp;&nbsp; 
            {% endfor %}


        {% endfor %}




    </div>


</section>




{% endblock %}