{% extends "ProyectoWebApp/base.html" %}

{% load static %}
{% block content %}



<h2 style="font-size: 30px; font-weight: bold;">Nosotros</h2>
<p>

    Mi nombre es Alexander Bello soy administrador hotelero y tengo 41 años, en la actualidad me encuentro realizando este curso en coder house ya que decante por la programacion entendiendo que es algo que tarde o temprano todos debemos saber y es muy importante  estar a la  vanguardia de las diferentes tecnologias.
    Mi idea despues de esto es  hacer el curso de html,css y java script ya que despues de realizar este proyecto veo la importancia de poderle darle un correcto formato en cuanto a vista.

    El proyecto se vaso en una pagina de pedidos en la cual maneje  6 apli

    


</p>


{% endblock %}