{% extends "ProyectoWebApp/base.html" %}

{% load static %}
{% block content %}



<h2 style="font-size: 40px; font-weight: bold; margin-left: 700PX; color: red; text-align: justify;" >Nosotros</h2>
<p style="font-size: 20px; padding-left: 500px; padding-right: 500px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: justify; margin-top: 50PX;">

    Mi nombre es Alexander Bello, soy administrador hotelero y tengo 41 años, en la actualidad me encuentro realizando este curso en CODER HOUSE  ya que decanté  por la programación entendiendo que es algo que tarde o temprano todos debemos saber y es muy importante  estar a la  vanguardia de las diferentes tecnologias.
    Mi idea  al terminar  es poder empezar uno de HTML,CSS y JAVA SCRIPT ya que despues de realizar este proyecto veo la importancia de poder darle un correcto formato en cuanto a vista se refiere.

    El proyecto se basa en una página o tienda de servicios que permite al usuario seleccionar los productos que la página ofrece para su compra, los mismo se crean desde el administrador y se pueden seleccionar por el usuario unicamente estando logueados, de lo contrario el carrito de compras no se habilita.

    


</p>


{% endblock %}